<div class="col-md-6 content display-title">


   <form class="form-inline search">
        <div class="form-group">
            <div class="right-inner-addon">
              <span class="glyphicon glyphicon-search"></span>
              <input type="search" ng-model="search" class="form-control" placeholder="Search" class="form-control" />
            </div>
        </div>
    </form>
</div>

<div class="col-md-6 content cars"  dir-paginate="template in templates | filter:search | itemsPerPage:10 ">
  <a href="#/templates/{{template.id}}">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 no-padding car-thumbnail">
        <img ng-src="{{template.thumbnail}}" class="img-responsive" alt="">
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <ul class="desc">
          <li><span class="car-title">{{template.name}}</span></li>
          <li><span class="glyphicon glyphicon-map-marker location">{{template.location}}</span></li>
        </ul>

      </div> 
      <div class="col-md-3 col-sm-3 price col-xs-12">
        <span>{{template.price}}</span>
      </div>
    </div>
  </a>
</div>
<div class="col-md-6 content">
  <dir-pagination-controls
         max-size="5"
         direction-links="true"
         boundary-links="true" 
         >
  </dir-pagination-controls>

</div>
